# Python testing library
pytest==3.6.2
# Python linting library
flake8==3.5.0
flake8-builtins==1.4.1
flake8-comprehensions==1.4.1
flake8-import-order==0.17.1
flake8-mutable==1.2.0
flake8-print==3.1.0
flake8-quotes==1.0.0
# Python static type checker
mypy==0.501
# Jupyter
jupyter==1.0.0